ProjectFiles/Objects/*
ProjectFiles/Listings/*
ProjectFiles/EventRecorderStub.scvd
ProjectFiles/Blank.uvguix.PC_88
*.o
*.i
ProjectFiles/Blank.uvoptx
*.uvprojx.bak
*.uvgui.*
*.uvoptx
*.uvprojx.user
*.bak
*.crf
*.d
*.lst
*.axf
*.lnp
*.build_log.htm
*.sct
*.dep